<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net461" />
  <package id="mscorlib-mock" version="1.0.4791.26353" targetFramework="net461" />
  <package id="package.mscorlib" version="1.0.1" targetFramework="net461" />
  <package id="PrettyBin" version="1.1.0" targetFramework="net461" />
  <package id="Rhino.Commons" version="1.0.4791.25633" targetFramework="net461" />
</packages>